QWidget{
    background-color: #f1f1f1;
    height: 24px;
}

QPushButton{
    border: none;
    background-color: transparent;
}

QPushButton:hover{
    background: #e5e5e5;
}

QPushButton#Close{
    border-image:url(images/icon/close.png);
}

QPushButton#Close:hover{
    background: #e81123;
    border-image:url(images/icon/close-hover.png);
}

QPushButton#Close:disabled{
    border-image:url(images/icon/close-disable.png);
}